@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 100px 500px; text-align:center">
    <h1>Xin mời <a href="/KHAccount/Login"><b>đăng nhập</b></a> để truy cập vào trang này</h1>
</div>