@model QuanLyBanGiay.Models.TaiKhoanKH
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<div class="register_account">
		<div class="wrap">
			<h4 class="title">Tạo Tài Khoản</h4>
			<form asp-action="Register">
				<div class="col_1_of_2 span_1_of_2">
					<div><input asp-for="TaiKhoan" type="text" value="Tài Khoản" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tài Khoản';}"></div>
					<div><input type="password" style="width:100%" asp-for="MatKhau" placeholder="Mật Khẩu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mật Khẩu';}"></div>
				</div>
				<button type="submit" class="grey">Đăng ký</button>
				<div class="clear"></div>
			</form>
		</div>
	</div>
</body>